<!DOCTYPE html>
<html>
<head>
	<title>W/ Movie Lover</title>
</head> 
<header> Write whatever you want</header>
<body>
	<form action='/film_pictures' method="POST">

	<input type="text" name="word" placeholder="write the word you want">
	<button type="submit" name"btn"></button>

	</form>
</body>
</html>